*.class
target/
.nrepl-port
.lein-repl-histor
/chap1/.lein-repl-history
/chap1/picture-gallery-duct/
/chap2/picture-gallery-bak/
/chap2/picture-gallery-duct/
/chap4/fba_front_sample/node_modules/
package-lock.json
/chap4/picture-gallery/resources/secrets/firebase_secrets.json
/chap4/picture-gallery/resources/secrets/secret.txt
/chap5/picture-gallery/resources/secrets/firebase_secrets.json
/chap5/picture-gallery/resources/secrets/secret.txt
/chap5/.markdown-preview.html
/chap5/picture-gallery/dev-image-db/pic/0c3a2f7d-600b-47bc-921a-0091bd6a0169
