/target
/classes
/checkouts
# profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/dev-image-db/pic/*
!/dev-image-db/pic/.gitkeep
/test-image-db/pic/*
!/test-image-db/pic/.gitkeep
